<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainsoft.riplat.web.notice.model.Platform">
	
	<!-- 平台信息列表 -->
	<select id="findListBy" resultType = "platform">
		SELECT T.ID,
		  T.PLATFORM_ID,
		  T.PLATFORM_NAME,
		  T.PLATFORM_IP,
		  T.ACTIVEABLE,
		  CASE
		    WHEN T.ACTIVEABLE = '0'
		    THEN '未激活'
		    WHEN T.ACTIVEABLE = '1'
		    THEN '已激活'
		    ELSE '无效'
		    END ACTIVEABLENAME
		FROM T_PLATFORM T
		<where>
			<include refid="common.filtersUnderLine" />
		</where>
	</select>
	
	<!-- 删除平台信息 -->
	<delete id = "deleteById">
		DELETE FROM T_PLATFORM T WHERE T.ID = #{id}
	</delete>
	
	<!-- 根据id查询单个平台信息 -->
	<select id="findById" resultType = "platform">
		SELECT T.ID,
			  T.PLATFORM_ID,
			  T.PLATFORM_NAME,
			  T.PLATFORM_IP,
			  T.PLATFORM_TYPE,
        DICT.PLATFORM_NAME PLATFORM_TYPE_NAME
			FROM T_PLATFORM T LEFT JOIN T_PLATFORM_TYPE_DICT DICT
      	ON T.PLATFORM_TYPE = DICT.ID
			WHERE T.ID = #{id}
	</select>	
	
	<!-- 修改平台信息 -->
	<update id="update">
		UPDATE T_PLATFORM T
			SET T.PLATFORM_ID = #{platformId},
			  T.PLATFORM_IP   = #{platformIP},
			  T.PLATFORM_NAME = #{platformName}
			  <if test="activeable != null and activeable != ''">
			  	,T.ACTIVEABLE    = #{activeable}
			  </if>
			WHERE T.ID        = #{id}
	</update>
	
	<!-- 保存平台信息 -->
	<insert id = "save">
		INSERT INTO T_PLATFORM(ID,PLATFORM_NAME,PLATFORM_IP,PLATFORM_TYPE)
			VALUES (SEQ_PLATFORM.NEXTVAL,#{platformName},#{platformIP},#{platformType})
	</insert>
	
	<!-- 获取平台类型 -->
	<select id="findPlatformTypeList" resultType = "platform">
		SELECT T.ID PLATFORM_ID,T.PLATFORM_NAME FROM T_PLATFORM_TYPE_DICT T
	</select>
	
	<!-- 平台激活 -->
	<update id="activeLicense">
		UPDATE T_PLATFORM T 
			SET T.ACTIVEABLE = 1
		WHERE T.PLATFORM_ID = #{platformId}
	</update>
</mapper>