<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
	<!-- 节点顺序必须符合要求 properties settings typAliases typeHandlers objectFactory objectWrapperFactory plugins environments databaseIdProvider mappers -->

	<typeAliases>
		<typeAlias alias="sqlAdapter" type="com.rainsoft.base.common.dao.SQLAdapter" />
		<typeAlias alias="list" type="java.util.List" />
	</typeAliases>
	<typeHandlers>
		<typeHandler javaType="String" handler="com.rainsoft.base.common.dao.ArrayTypeHandler" />
		<typeHandler javaType="list" handler="com.rainsoft.base.common.dao.ListTypeHandler"/>
	</typeHandlers>
	<plugins>
		<plugin interceptor="com.rainsoft.base.common.page.PageHelper">
			<!-- 使用时必须指定该属性，可选值为`oracle`,`mysql`,`hsqldb`,<b>没有默认值，必须指定该属性</b>。 -->
			<property name="dialect" value="oracle" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
			<!-- 和startPage中的pageNum效果一样 -->
			<property name="offsetAsPageNum" value="true" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>
	</plugins>


	<!-- 映射map -->
	<mappers>
	</mappers>

</configuration>
